<div class="container">
  <div class="row">
    <div id="main-container" class="col-md-8">
      <div class="article-list" style="background-color:#dfdfdf">
        <div class="cal">
          <p class="day">16</p>
          <p class="mon">dec</p>
        </div>
      </div>

      <div class="article-list" style="background-color:#dfdfdf">
        <div class="cal">
          <p class="day">16</p>
          <p class="mon">dec</p>
        </div>
      </div>

      <div class="article-list" style="background-color:#dfdfdf">
        <div class="cal">
          <p class="day">16</p>
          <p class="mon">dec</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="background-color:#999999">right</div>
  </div>
</div>
