<div class="container">
  <div class="row">
    <div id="article-list" class="col-md-8" style="background-color:#dfdfdf">
      <div class="cal">
        <p class="day">16</p>
        <p class="mon">dec</p>
      </div>
    </div>
    <div class="col-md-4" style="background-color:#999999">right</div>
  </div>
</div>
