<div class="container">
  <div class="row">
    <%# Contents column start %>
    <div class="col-sm-9 contents-left">
      <div class="article-list">
        <div class="article-header">
          <div class="cal">
            <p class="day">16</p>
            <p class="mon-year">Dec 2017</p>
          </div>

          <h2><%= @id %>の記事</h2>
        </div>
        <div class="artile-snippet">
<pre><code class="ruby"># The Greeter class
class Greeter
  def initialize(name)
    @name = name.capitalize
  end

  def salute
    puts "Hello #{@name}!"
  end
end
g = Greeter.new("world")
g.salute</code></pre>

          <p class="article_info">Author&nbsp;:&nbsp;eighty8&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;:&nbsp;2017/01/19 10:17</p>
        </div>
      </div>
    <%# Contents column end %>
    </div>

    <%= render :partial => "layouts/side_menu" %>
  </div>
</div>
