#article-list {
  padding: 10px;
}
.cal {
  background-color: #999999;
  width: 60px;
  text-align: center;
  padding: 5px;
  p {
    margin: 0;
  }
  .day {
    font-size: 2.4rem;
    font-weight: bold;
  }
  .mon {
    font-size: 1.2rem;
    margin-top: -6px;
  }
}
