.article-list {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0px 16px 0px 16px;
    background-color: #ebebeb;
}
.cal {
    background-color: #8BC34A;
    width: 66px;
    height: 62px;
    text-align: center;
    padding: 5px;
    border-radius: 0px 8px 0px 8px;
    float: left;
    p {
        margin: 0;
    }
    .day {
        font-size: 2.4rem;
        font-weight: bold;
    }
    .mon-year {
        font-size: 1.2rem;
        margin-top: -4px;
    }
}
.article-header {
    overflow: hidden;
    border-bottom: 1px solid #C5C5C5;
    padding-bottom: 10px;
    h2 {
        font-size: 2.6rem;
        line-height: 3rem;
        margin: 0 0 0 90px;
        a {
            text-decoration: none;
        }
    }
}
.artile-snippet {
    padding-top: 20px;
    padding-bottom: 10px;
    p {
        font-size: 1.6rem;
        margin-right: 20px;
        margin-left: 20px;
    }
}
.article-info {
    border-top: 1px solid #C5C5C5;
    padding-top: 10px;
    p {
        font-size: 1.2rem;
        text-align: right;
        margin-bottom: 0;
        margin-right: 10px;
    }
}
