html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    padding-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222222;
    .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
        .text-muted {
            margin: 20px 0;
        }
     }
}
header .container {
    margin-top: 8%;
}
