<%# Side column start %>
<div class="col-sm-3 contents-right">
  <div class="side-menu">
    <ul>
    <% side_categories.each do |category| %>
      <% count = category.articles.count %>
      <% name = "#{category.name} (#{count})" %>
      <li><%= link_to name, root_path %></li>
    <% end %>
    </ul>
  </div>
</div>
<%# Side column end %>
