<%# Side column start %>
<div class="col-sm-3 contents-right">
    <div class="side-menu">
        <ul>
            <li>menu1</li>
            <li>menu2</li>
            <li>menu3</li>
            <li>menu4</li>
        </ul>
    </div>
</div>
<%# Side column end %>
