<!DOCTYPE html>
<html>
  <head>
    <title>memome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">memome</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">about</a></li>
            <li><a href="#">github</a></li>
            <li><a href="#">sandbox</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="jumbotron">
      <div class="container">
        <h1>memome</h1>
        <p>This site is a personal site for eighty8 to put a memo and an article.</p>
      </div>
    </header>

    <main>
    <%= yield %>
    </main>
  </body>
</html>
